



<style>
    /* .form-control{
        border-radius: 0;
    } */
</style>


<div class="row p-1 bg-dark rounded-3 m-md-2">


<% apps.forEach(element => { %>


    <div class="col-xl-2 p-0 ">

   
        <div style="box-shadow: 5px 5px black; background-color: #212529;"  class="border border-2 row  text-light <%= element.status === "online" ? "border-success" : "border-danger" %>  rounded m-1 " >
            
            <div class="col">
                <div class="row p-1  bg-success ">
                    <div class="d-flex">
                        <h5 class="me-auto  fw-bold " ><%= element.name %></h5>
                        <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                        <i class="fa-solid fa-trash my-auto ms-auto"></i>
                    </div>
                   
                </div>
                <div class="row p-1 bg-black">
                    <p class="m-0 ms-auto"><i class="fa-solid fa-server me-2"></i> Cpu - <%= element.cpu %>%</p>
                    <p class="m-0 ms-auto">  <i class="fa-solid fa-microchip me-2"></i> Mem - <%= (element.memory /1024/1024).toFixed(2)%>Mb</p>
                </div>
                
                <div class="row p-1 bg-dark text-light">
                    <h5 class="m-auto" style="font-size: 1.3rem;"  >
                        <i type="button" data-path="<%= element.repo %>" data-appid="<%= element.id %>" class="fa-solid fa-rotate text-warning me-1" onclick="restartapp(this)"></i>
                        
                        <i type="button" data-status="<%= element.status %>"  data-appid="<%= element.id %>" class="fa-solid mx-1 <%= element.status === 'online' ?  "text-danger fa-solid fa-circle-stop" : "fa-solid fa-circle-play text-success"  %> " onclick="toggleapp(this)"></i>

                        <i type="button" data-path="<%= element.repo %>" data-appid="<%= element.id %>" class="fa-solid fa-code-pull-request text-info mx-1" onclick="pullapp(this)"></i>
                        
                        <i type="button" data-appid="<%= element.id %>"   class="fa-solid fa-code mx-1 text-light " onclick="logs(this)"></i>
                    </h5>
                </div>
            </div>



            <!-- <div class="row">
                <div class="col-6">
                    <h5 class="m-auto mb-3 fw-bold " ><%= element.name %></h5>
                    <h5 class="m-auto" style="font-size: 1.5rem;"  >
                        <i type="button" data-path="<%= element.repo %>" data-appid="<%= element.id %>" class="fa-solid fa-rotate text-warning" onclick="restartapp(this)"></i>
                        
                        <i type="button" data-status="<%= element.status %>"  data-appid="<%= element.id %>" class="fa-solid <%= element.status === 'online' ?  "text-danger fa-solid fa-circle-stop" : "fa-solid fa-circle-play text-success"  %> " onclick="toggleapp(this)"></i>

                        <i type="button" data-path="<%= element.repo %>" data-appid="<%= element.id %>" class="fa-solid fa-code-pull-request " onclick="pullapp(this)"></i>

                    </h5>
                </div>
                <div class="col-6 d-flex flex-column" >
                    <p class="m-0 ms-auto"><i class="fa-solid fa-server me-2"></i>  <%= element.cpu %>%</p>
                    <p class="m-0 ms-auto">  <i class="fa-solid fa-microchip me-2"></i><%= (element.memory /1024/1024).toFixed(2)%>Mb</p>
                </div>
            </div> -->
            
           

    

        </div>

       
    
    </div>

 
 
<% }) %>



</div>

<h3 class="text-light m-1" >Create App</h3>

<div class="row p-1">
    <div class="col-md-4 col  text-light p-3 bg-dark mx-md-3 rounded-2  ">
        <label for="domain">Git Repository Url</label>
        <input type="text" class="form-control form-control-sm mb-3" id="giturl" placeholder="github.com/example.git">
        <label for="port">App File (ex.server.js)</label>
        <input type="text" class="form-control form-control-sm mb-2" id="appname" placeholder="Server.js">
        <button class="btn btn-primary btn-sm" onclick="createapp(this)">Create App</button>
        <button class="btn btn-primary btn-sm " style="display: none;" id="refresh" hx-get="/testapps" hx-trigger="click" hx-target="#output" hx-boost="{ preload: true }" >Refresh</button>

    </div>
    
</div>





<div  class="row bg-black text-light mt-auto p-1">
    <div class="col">
        <pre id="log" class="" style="max-height: 30vh;" >Logs</pre>
       
    </div>
    

</div>


<script>

   
function restartapp(element) {
        const out = 'log';
        const id = element.getAttribute('data-appid');
        const repo = element.getAttribute('data-path');

        const command = `pm2 restart ${id}`;

        executeCommand(command, out);
    }


    function pullapp(element) {
        const out = 'log';
        const id = element.getAttribute('data-appid');
        const repo = element.getAttribute('data-path');

        console.log(`cd ${repo}\ngit pull`);
        const command = `cd ${repo}\ngit pull`;

        executeCommand(command, out);
    }
    
    function toggleapp(element) {
        const out = 'log';
        const id = element.getAttribute('data-appid');
        const status = element.getAttribute('data-status');

        let command = `pm2 start ${id}`;
        if (status === "online") {
            command = `pm2 stop ${id}`;
        }
            
        

        executeCommand(command, out);
    }


    function logs(element) {
        const out = 'log';
        const id = element.getAttribute('data-appid');
        // const repo = element.getAttribute('data-path');

        console.log(`pm2 logs ${id}`);
        const command = `pm2 logs ${id} --nostream`;

        executeCommand(command, out);
    }


    async function createapp(el) {
  
        console.log(user);
        var url = document.getElementById('giturl').value
        var appname = document.getElementById('appname').value

        var parts = url.split("/");
        var repoName = parts[parts.length - 1].replace('.git', ''); 
        


        var name = el.innerHTML
        el.innerHTML = '<i class="fas fa-spinner fa-spin "></i> Be Patient it will take a while...'

        console.log(`cd /${username}/app && git clone ${url}\ncd /${username}/app/${repoName}\npm2 start ${appname}\nnpm i`);

        const data = await execute(`cd /${username}/app && git clone ${url}\ncd /${username}/app/${repoName}\npm2 start ${appname}\nnpm i`)
        
        el.style.display = 'none'
        document.getElementById('refresh').style.display = 'block'
   

        document.getElementById('log').innerHTML = data

        

      

    

    }
</script>
