



<div class="input-group flex-nowrap  my-1 sticky-top ">
  <!-- <input type="text" class="form-control" placeholder="Username" > -->
  

  <button  class="btn btn-dark me-2" onclick="back()" ><i class="fa-solid fa-arrow-left"></i></button>
  <button class="btn btn-primary me-2" onclick="home()"><i class="fa-solid fa-house"></i></button>
  <input type="text" class="form-control" id="filterInput" placeholder="Type to Search" aria-label="Username" aria-describedby="addon-wrapping" 
  style="font-size: 0.7rem; border-radius: 0;"
  >
  <!-- <span class="input-group-text" id="addon-wrapping"> 
    <i class="fa-solid fa-magnifying-glass m-auto  " style="font-size: 1rem; color: rgb(42, 97, 99);"></i> 
  </span> -->

</div>

<div class="row" >





<div class=" p-3 py-0 col " style="max-width: 400px; "  >

  <div class="d-flex p-1">
    <div class="m-1">
      <button class="btn btn-primary btn-sm me-auto" onclick="deletefile(this)" id="saveButton"><i class="fa-solid fa-folder-plus"></i></button>
      <!-- <button class="btn btn-primary btn-sm " onclick="deletefile(this)" id="saveButton"><i class="fa-solid fa-file-circle-plus"></i></button> -->

    </div>
    <div class="m-1">
      <!-- <button class="btn btn-primary btn-sm me-auto" onclick="deletefile(this)" id="saveButton"><i class="fa-solid fa-folder-plus"></i></button> -->
      <button class="btn btn-primary btn-sm " onclick="deletefile(this)" id="saveButton"><i class="fa-solid fa-file-circle-plus"></i></button>

    </div>
  </div>
    <div class="p-3 scrollbar-pink" id="explorer" style="height: 79vh;  overflow-y: auto;">
      <% folders.forEach((element , index) => { %>
        <% if (index >2 && element !== '' ) { %>
            <% let parts = element.split(" "); %>
            <% let name = parts[parts.length - 1]; %>
            <p  onclick="cd( this , '<%= name %>')" type="button" <%= parts[0].includes("d") ? `` : `hx-get=/testfileditor`%> hx-trigger="click" hx-target="#file" hx-swap="innerHTML" data-type="<%= parts[0].includes("d") ? "dic" : "file"  %>"   class="text-light mb-1  " >
              <i 
              style="opacity: <%= name[0]==="." ? 0.3 : 1%>"
              class="<%= parts[0].includes("d") ? "fa-solid fa-folder text-primary " : "fa-solid fa-file"%>" >
            </i>
            <span class="hover">
              <%= name %>
            </span>
             
            </p>
        <% } %>
     
    <% }) %>
    </div>
   



   
</div>

<div class="col">
  <div id="file" style="height: 75vh;">
    <%- include('./foldersettings.ejs') %>
  </div>

</div>


</div>
  



<textarea  hx-post="/testchangedic" hx-trigger="click" hx-target="#output" name="command" id="changedir" style="display: none;" ></textarea>



<script>




async function cd(el , name) {
    const type = el.getAttribute('data-type');

    if (type === "dic") {
        const currentDir = name
        dir += currentDir + '/';

        const command = `cd ${dir}\nls -la`;
        console.log(command);
        console.log(dir);

        document.getElementById('changedir').innerHTML = command;
        document.getElementById('changedir').click();
    }else{
     
  
      readfile(name)
      
      file=name

    }
}

</script>



<script>
    document.getElementById('filterInput').addEventListener('input', function() {
      var filterValue = this.value.toLowerCase(); // Get the value entered by the user and convert it to lowercase for case-insensitive filtering
      var itemList = document.getElementById('explorer');
      var items = itemList.getElementsByTagName('p');
  
      Array.from(items).forEach(function(item) {
        var text = item.textContent.toLowerCase();
        if (text.indexOf(filterValue) > -1) {
          item.style.display = 'block'; // Show the item if the text matches the filter
        } else {
          item.style.display = 'none'; // Hide the item if the text does not match the filter
        }
      });

      
    });


</script>


<script>
  
  async function readfile(el) {
  var name = el.innerHTML
  console.log(`cd ${dir.trim()}\ncat ${el}`);
  const data = await execute(`cd ${dir}\ncat ${el}` )


  setTimeout(function () {
            editor.setValue(data);
        }, 100); // 100 milliseconds (0.1 seconds) delay


  el.innerHTML = name

  }
      


  async function back() {
    const pathParts = dir.split('/');


    if (pathParts.length > 2) {
      dir = pathParts.slice(0, -2).join('/') + '/';



        const command = `cd ${dir}\nls -la`;
        console.log(command);


        document.getElementById('changedir').innerHTML = command;
        document.getElementById('changedir').click();
    } else {
      dir = '/'
    }
  }

  async function home() {

    dir = '/root/';



      const command = `cd ${dir}\nls -la`;
      console.log(command);


      document.getElementById('changedir').innerHTML = command;
      document.getElementById('changedir').click();

  }

</script>

