<!DOCTYPE html>
<html lang="en">


    <%- include('../header.ejs') %>


<body>
    <div class="container mt-2">
        <%- include('../navbar.ejs') %>

        <div class="row rounded-3 p-2  border">

            <% blogs.forEach(blog => { %>
                <div class="col border rounded-2 m-2 p-3">
                    <i class="fa-solid fa-pen-to-square" type="button" data-id="<%= blog.id %>" data-body="<%= blog.body %>" data-title="<%= blog.title %>" data-author="<%= blog.author %>" onclick="editblog(this)"></i>
                    <h1 class="fw-bold"><%= blog.title %></h1>
                    <hr>
                    <div class="d-flex mb-3">
                        <img class="img-fluid rounded-circle my-auto me-1" width="30px" src="https://lh3.googleusercontent.com/a/ACg8ocJrmTL04hqM_zYpAMBoGWMu_HhzxTsYLKc-zmDHpJEmyKk=s96-c" alt="" srcset="">
                        <h5 class="text-muted my-auto"><%= blog.author %></h5>
                    </div>
            
                    <div class="fw-bold">

                        <%= `${blog.body}` %>

                    </div>
                </div>
            <% }) %>
            
            
            

        </div>


                <% if (isadmin) { %>
                    <div class="row border p-3">
                        <form class="" action="/blog/createblog" method="post">


                            <input type="number" id="id" name="id" style="display: none;">
                            <!-- Author Input -->
                            <div class="mb-3">
                              <label for="author" class="form-label">Author</label>
                              <input  type="text" class="form-control" id="author" name="author" required>
                            </div>
                        
                            <!-- Title Input -->
                            <div class="mb-3">
                              <label for="title" class="form-label">Title</label>
                              <input type="text" class="form-control" id="tittle"  name="tittle" required>
                            </div>
                        
                            <!-- Body Textarea -->
                            <div class="mb-3">
                              <label for="body" class="form-label">Body</label>
                              <textarea class="form-control" id="body"  name="body" rows="4" required></textarea>
                            </div>
                        
                            <!-- Image Input -->
                            <div class="mb-3">
                              <label for="image" class="form-label">Image URL</label>
                              <input type="file" class="form-control" id="image" name="image" >
                            </div>
                        
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-light" id="create">Create</button>
                          </form>
                    </div>
            
                    <% } %>

        


    </div>
</body>




<script>
        function editblog(button) {

        document.getElementById('create').innerHTML = 'Update'
        const id = button.getAttribute('data-id');
        const title = button.getAttribute('data-tittle');
        const author = button.getAttribute('data-author');
        const body = button.getAttribute('data-body');


        document.getElementById('id').value = `${id}`;
        document.getElementById('tittle').value = `${title}`;
        document.getElementById('author').value = `${author}`;
        document.getElementById('body').value = body;

}
</script>



<script>
    function formatCodeInBlog() {
    // Get all elements with the class 'fw-bold', assuming this is where the blog body is displayed
    var blogBodies = document.querySelectorAll('.fw-bold');

    blogBodies.forEach(blogBody => {
        // Get the inner HTML of the blog body
        var innerHTML = blogBody.innerHTML;

        // Use a regular expression to find code blocks and wrap them in <code> tags
        var formattedHTML = innerHTML.replace(/```([\s\S]*?)```/g, '<code>$1</code>');

        // Update the blog body with the formatted HTML
        blogBody.innerHTML = formattedHTML;
    });
}

// Call the function when the page is loaded or when the blogs are dynamically added
window.onload = function() {
    formatCodeInBlog();
};

</script>
</html>