<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>


<style>
    .output-terminal {
        background-color: #000;
        color: #fff;
        font-family: "Courier New", monospace;
        padding: 10px;
        border: 1px solid #333;
    }


    .folder{
        cursor: pointer;
    }
    .btn-green{
        
        color: white;
        background-color: darkslategray;
        border: 2px black solid;
    }
    .btn-green:hover{
        
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: 2px black solid;
    }
    .btn{

        border: 2px black solid;
    }

</style>


<style>
    .side-panel {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px; /* Initial position, off-screen */
        z-index: 1030;
        width: 250px;
        background-color: #fff; /* Change the background color as needed */
        transition: all 0.3s;
    }
    .side-panel.active {
        right: 0; /* Slide in when active */
    }
    #main-content {
        transition: margin-right 0.3s;
    }

</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Inclusive+Sans&family=Josefin+Sans:wght@400;700&family=Montserrat&family=Noto+Sans+JP&family=Oswald:wght@500;600&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@300;700&family=Roboto+Mono:wght@400;500&family=Roboto+Slab&family=Rubik:wght@600&family=Tajawal:wght@700&family=Ysabeau+Infant:wght@700&display=swap');
</style>



<body style="font-family: 'Inclusive Sans', sans-serif;">
    <div class="side-panel p-1 shadow d-block d-md-none" id="sidePanel" style=" border-radius: 0.5rem 0 0  0.5rem; ">
        <div class="container">
            <div class=" row ">
                <div class="d-flex">
                    <i class="fa-solid fa-circle-xmark ms-auto m-3" style="font-size: 2rem; color: cadetblue;" onclick="toggleSidePanel()"></i>

                </div>
                <%- include('./partials/sidenav.ejs') %>

            </div>
        </div>
    
    
      </div>





      <nav class="navbar bg-dark shadow-sm" style="font-family: 'Rubik', sans-serif;">
        <div class="container-fluid">
          <a class="navbar-brand  d-flex " href="/">
            <div class="m-auto">
                <img src="kadmin.png" alt="" width="30px" srcset="">
            </div>
            <h5 class="fw-bold m-auto ms-1" style="color: rgb(255, 255, 255);">KADMIN.ONLINE</h5>
          </a>

          <a href=""><img class="rounded-circle border" width="30px" src="<%= picture %>" alt=""></a>
          <i class="fa-solid fa-circle-chevron-down d-block d-md-none m-2 " style="font-size: 2rem; color: cadetblue;" onclick="toggleSidePanel()"></i>


        </div>
      </nav>

    <div class="container-fluid">
        

        <!-- <nav class="navbar p-0 navbar-expand-lg navbar-light bg-white" style="font-family: 'Rubik', sans-serif;">
            <a class="navbar-brand me-auto" href="/">
              <h5 class="fw-bold" style="color: cadetblue;">
                <img src="kadmin.png" alt="" width="40px" srcset="">
                KADMIN.ONLINE
              </h5>
            </a>

            <i class="fa-solid fa-circle-chevron-down d-block d-md-none m-2" style="font-size: 2rem; color: cadetblue;" onclick="toggleSidePanel()"></i>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ContentId" aria-controls="ContentId" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>
            </button> 
          
          
          
          </nav>  -->
          
          <!-- Add the Bootstrap 5.3 JavaScript file -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      
        <!-- <h1 class="mb-4">SSH Web Interface</h1> -->
        <form id="sshForm" style="display: none;" class="mb-4">

            <div class="mb-3">
                <label for="command" class="form-label">Command:</label>

                <textarea class="form-control text-light" name="command" id="command" cols="30" rows="10" style="background-color: black;" ></textarea>
                <!-- <input type="text" name="command" id="command" placeholder="Enter a command"> -->
              
              
                <!-- <input type="text" name="command" id="command" class="form-control" required> -->
            </div>
            <button class="btn btn-light btn-sm mt-2" type="submit"  hx-post="/execute" id="exe" hx-target="#output">Execute Command</button>

        </form>



        <div class="row"  >
            <div class="col p-2 col d-md-block d-none"  id="ContentId">
                <%- include('./partials/sidenav.ejs') %>

            </div>
            <div class="col-xl-10 p-1  mt-2 " id="home"  >
               
          


                <%- include('./partials/status.ejs') %>
                


            </div>

        </div>


    </div>

    <footer style="height: 10vh;">

    </footer>


    <script>
        function toggleSidePanel() {
            try {
                clearInterval();
            } catch (error) {
                
            }
           
       

          var sidePanel = document.getElementById("sidePanel");
          sidePanel.classList.toggle("active");
        }
    </script>

    <script>
            var user =   "<%= sysuser %>";


           var path = `/${user}/app/`;
           function resetpath() {
            
            path= `/${user}/app/`;
           }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</body>



</html>
