<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <h1>Server Status</h1>
        <form action="/cmd" method="post" id="form">

            <% result.forEach(element => { %>


                <div class="d-flex my-2">
                    
                    <p><span class="result"><%= element.name %></span></p>
                    <button class="btn btn-warning btn-sm ms-auto me-1" type="button" data-cmd="restart" data-name="<%= element.name %>"  onclick="app(this)" >restart</button>

                    <% if (element.pm2_env.status === 'online') { %>
                        <button class="btn btn-danger btn-sm me-1" type="button" data-cmd="stop" data-name="<%= element.name %>"  onclick="app(this)" >stop</button>

                    <% } else { %>
                        <button class="btn btn-success btn-sm me-1" type="button" data-cmd="start" data-name="<%= element.name %>"  onclick="app(this)" >start</button>

                        <%} %>

                        

                        <% if (element.pm2_env.versioning) { %>
                            <button type="button" class="btn btn-info btn-sm" data-cmd="<%= element.pm2_env.versioning.repo_path %>" data-name="<%= element.name %>"  onclick="gitpull(this)" >git pull</button>

                        <% } %>
                        
                </div>
                    



            <% }) %>
                
            <hr>
            
            <input type="text" name="giturl" id="giturl" placeholder="Enter a git url">
            <button class="btn btn-success btn-sm" onclick="addapp()" type="button" id="">ADD APP</button>
            
            <hr>
            <textarea class="form-control" name="command" id="command" cols="30" rows="10"></textarea>
            <!-- <input type="text" name="command" id="command" placeholder="Enter a command"> -->
            <button class="btn btn-dark btn-sm mt-2" type="submit" id="exe">Execute Command</button>

            
        </form>

        <hr>
        <span><%=  %></span>
    </div>

</body>

<script>
    function app(button) {
        const appName = button.getAttribute('data-name');
        const cmd= button.getAttribute('data-cmd');
        console.log(appName)
        document.getElementById('command').value = `pm2 ${cmd} ${appName}`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

      function gitpull(button) {
        const appName = button.getAttribute('data-name');
        const cmd= button.getAttribute('data-cmd');
        console.log(appName)
        document.getElementById('command').value = 
        `cd ${cmd} 
        git pull`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

      function addapp() {
        var url = document.getElementById('giturl').value
        document.getElementById('command').value = 
        `
        cd /root/app
        git clone ${url} 
        `
        document.getElementById('exe').click()

      }
     

</script>

</html>