<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🤠 Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
     
        <h6 class="ms-auto">
            <i class="fa-solid fa-server me-2"></i>
            <span id="cpuValue">Waiting for data...</span> MB
        </h6>


        <h1>Server Statu</h1>
        <form action="/cmd" method="post" id="form">
            <div class="row">

     
            <% result.forEach(element => { %>

                
                
                    <div class="col" style="max-width: 20rem; min-width: 20rem;">
                        <div class=" row m-1 p-2 shadow text-light" style="background-color: darkslategray; border-radius: 1rem;">
                            
                            <div class="col-6">
                                <h5 class="fw-bold"><%= element.name %></h5>
                                <a class=" ms-auto ms-1 text-warning" type="button" data-cmd="restart" data-name="<%= element.name %>"  onclick="app(this)" ><i class="fa-solid fa-rotate"></i></a>
                                <% if (element.pm2_env.status === 'online') { %>
                                    <a class=" ms-1 text-danger ms-1" type="button" data-cmd="stop" data-name="<%= element.name %>"  onclick="app(this)" ><i class="fa-solid fa-stop"></i></a>
            
                                <% } else { %>
                                    <a class=" ms-1 text-success ms-1" type="button" data-cmd="start" data-name="<%= element.name %>"  onclick="app(this)" ><i class="fa-solid fa-play"></i></a>
            
                                    <%} %>
            

            
                                    <% if (element.pm2_env.versioning) { %>
                                        <a type="button" class="text-info ms-1" data-cmd="<%= element.pm2_env.versioning.repo_path %>" data-name="<%= element.name %>"  onclick="gitpull(this)" ><i class="fa-solid fa-code-pull-request"></i></a>
            
                                    <% } %>
                            </div>
                            <div class="col-6 d-flex" style="flex-direction: column;">
                                <h6 class="ms-auto" ><i class="fa-solid fa-microchip me-2"></i><%= (element.monit.memory /1024/1024).toFixed(2) %>mb</h6>
                                <h6 class="ms-auto" ><i class="fa-solid fa-server me-2"> </i><%= element.monit.cpu %>%</h6>

                            </div>

                        </div>
                    </div>
               

            <% }) %>
        </div>
  
            <hr>
            
            <input type="text" name="giturl" id="giturl" placeholder="Enter a git url">
            <button class="btn btn-success btn-sm" onclick="addapp()" type="button" id="">ADD APP</button>
            
            <hr>
            <textarea class="form-control" name="command" id="command" cols="30" rows="10"></textarea>
            <!-- <input type="text" name="command" id="command" placeholder="Enter a command"> -->
            <button class="btn btn-dark btn-sm mt-2" type="submit" id="exe">Execute Command</button>

            
        </form>

        <hr>
        <span><%=  %></span>
    </div>

</body>

<script>
    function app(button) {
        const appName = button.getAttribute('data-name');
        const cmd= button.getAttribute('data-cmd');
        console.log(appName)
        document.getElementById('command').value = `pm2 ${cmd} ${appName}`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

      function gitpull(button) {
        const appName = button.getAttribute('data-name');
        const cmd= button.getAttribute('data-cmd');
        console.log(appName)
        document.getElementById('command').value = 
        `cd ${cmd} 
        git pull`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

      function addapp() {
        var url = document.getElementById('giturl').value
        document.getElementById('command').value = 
        `
        cd /root/app
        git clone ${url} 
        `
        document.getElementById('exe').click()

      }
     

</script>



<script>
    const socket = new WebSocket('ws://localhost:3000');

    socket.addEventListener('message', (event) => {
        const data = JSON.parse(event.data);
        document.getElementById('cpuValue').textContent = data.value.toFixed(2);
    });
</script>
</html>